  
body {
    font-family: 'Oswald', sans-serif;
}

 p {
  font-size: 30px;
 }

h1 {
    margin: auto;
    font-size: x-large;
}

.columns {
    display: flex;
}

h3 {
    font-size:20px
}

/* left-side background */
#left-display {
    border-right: 4px solid black;
    border-left: 4px solid black;
}

/* right-side background */
#right-display {
    border-left: 4px solid black;
    border-right: 4px solid black;
}

#player {
    float: right;
}

body {
    font-family: 'Oswald', sans-serif;
}

#rotten-tomatoes-img {
    max-width: 45px;
    margin-top: 5px;
    margin-right: 3px; 
}

#imdb-img {
    max-width: 75px;
    margin-top: 10px;
    margin-right: 7px;
}

/* theater background for left-side menu */
.left-menu {
    padding: 20px;
    clear: both;
    float: left;
    width: 30%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/00/a0000430/img/basic/a0000430_main.jpg?20170429124716&q=80&rw=750&rh=536");
   background-size: cover;
}

/*sizing anf formatting of ride-side info*/
.right-movie-data {
    padding: 20px;
    clear: both;
    float: right;
    width: 70%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
    display:inline-block;
    font-size: 20px;
    font-weight: 200;
    color: white;
    margin-top: 15px;
}

/* formattng and position of the 4 images on intro card */
#popcorn {
width: 175px;
height:225px;
margin-top: 10px;
margin-left: 15px;
}

#drink {
    width: 150px;
    height:200px;
    margin-top: 5px;
    margin-right: 10px;  
    }
    
#glasses {
    width: 125px;
    height:175px;
    margin-left: 50px;
    margin-top: 190px;
}

#projector {
    width: 150px;
    height:225px;
    margin-right: 50px;
    margin-top: 170px;
}

#popcorn-img {
    max-width: 80%;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h6 {
    font-size: 20px;
    font-weight: 200;
    color: white;
    margin-top: 15px;
}

/*flexing area for poster and trailer */
.poster-trailer {
    display:flex;
    margin-right: 30px; 
}

.ratings {
    display:flex;
    justify-content: center;
}
 
/* plot needs separate formatting to contemplate multiple lines of text */
#plot {
    margin-top: 25px;
    margin-left: 10px;
    clear: both;
    float: right;
    width: 97%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
}

.plot-fix {
    margin-top: 25px;
    margin-left: 12px;
    clear: both;
    float: left;
    width: 3%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* formatting and positioning title name, ratings logos and scores */
.ratings-format {
   font-size: 25px;
   justify-content: center;
   display: flex;
}

#rotten-tomatoes-score {
  margin-top: 13px;  
}

#imdb-score {
    margin-top: 13px;  
  }
   
#flix-title {
    text-align: center;
    font-size: 35pt;  
}

.card-header {
    justify-content: center;
}

.hide {
    display: none;
}

#submitButton {
    margin: 10px;
}

#title-input {
    margin: 10px;
}

/* sizing, positioning and border of logo*/
#flix-finder-logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 75px;
    margin-bottom: 75px;
    box-shadow:
    0 0 0 5px hsl(0, 0%, 0%),
    0 0 0 10px hsl(348,100%,61%),
    0 0 0 15px hsl(0, 0%, 0%),
    0 0 0 20px hsl(348,100%,61%),
    0 0 0 25px hsl(0, 0%, 0%),
    0 0 0 30px hsl(348,100%,61%),
    0 0 0 35px hsl(0, 0%, 0%),
    0 0 0 40px hsl(348,100%,61%),
    0 0 0 45px hsl(0, 0%, 0%);

    width: 75%;
}

.card {
    margin-right: 6px;
}


  .card-intro {
      margin-right: 7px;    
  }

  /* formatting list of similar movies */
#similarFlix {
    text-align: center;
}

.simFlixTitle {
    margin-top: 40px;
    text-decoration: underline;
}
