  
body {
    font-family: 'Oswald', sans-serif;
}


 p {
font-size: 30px;
 }
h1 {
    color: red;
    text-align: center;
    margin: auto;
    font-size: x-large;
}
h3 {
    font-size:20px
}

#left-display {
    border-right: 4px solid black;
    border-left: 4px solid black;
}


#right-display {
    border-left: 4px solid black;

    border-right: 4px solid black;
}


#player {
    float: right;
}
body {
    font-family: 'Oswald', sans-serif;
}


#rotten-tomatoes-img {
    max-width: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

#imdb-img {
    max-width: 75px;
    display: block;
    margin-left: 50px;
    margin-right: auto;
margin-top: 5px;
}




h5 {
    font-size: 17px;
    font-weight: 200;
    font-style:italic;
    
}

#popcorn-img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.poster-trailer {
    display:flex;
    margin-right: 30px;
    
}